body {
    justify-content: center;
    align-items:center;
    height: 100vh;
}
.header {
    background-color: bisque;
    width: 70ch;
    max-width: 100%;
}
.card-row{
    display: flex;
    flex-wrap: wrap;
}