.sugarmascara{
    float: right;
}
.mascarabenefits{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.imgwtext{
    display: flex;
    
}
.imgwtext img{
    margin-right: 100%;
    border-radius:25% ;
    padding-left: 50px;
}
.button{
    align-items: left;
}
.body{
    padding-left: 100px;
    padding-right: 100px;
}
.button{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #DF90A9;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.button:hover {
    background-color:#CEC6C8;
    color: rgb(221, 24, 191);
}
.h1class{
    padding-bottom: 50px;
}
.logo{
    padding-bottom: 150px;height: 200px;
    background-image: linear-gradient(#DF90A9, #DEC7CF);
}
