.sugarmascara{
    float: right;
}
.mascarabenefits{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.imgwtext{
    display: flex;
    
}
.imgwtext img{
    margin-right: 100%;
    border-radius:25% ;
}
.button{
    align-items: left;
}